/.idea/
/figures/
/videos/
/label/catalogs/
/label/gf/
/features/feather/
/features/selected_names/
/animation/sonify/
/*.egg-info/
/sklearn_sandbox.ipynb
/.set_up_env.bash
*.nc
*.pkl
*.tif
*.gsheet
*.gdoc
*.npy
*.pptx
.DS_Store
