/.idea/
/figures/
/videos/
/label/catalogs/
/label/gf/
/features/feather/
/features/selected_names/
/animation/sonify/
/sklearn_sandbox.ipynb
/*.egg-info/
*.nc
*.pkl
*.tif
*.gsheet
*.gdoc
*.npy
*.pptx
.DS_Store
